<div>
  <h2 id="page-heading" data-cy="DonorHeading">
    <span>Donors</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-donor"
        [routerLink]="['/donor/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Donor </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="donors?.length === 0">
    <span>No donors found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="donors && donors.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span>ID</span></th>
          <th scope="col"><span>Name</span></th>
          <th scope="col"><span>Description</span></th>
          <th scope="col"><span>Url</span></th>
          <th scope="col"><span>City</span></th>
          <th scope="col"><span>Donor Category</span></th>
          <th scope="col"><span>Sector</span></th>
          <th scope="col"><span>Key Contact</span></th>
          <th scope="col"><span>Country</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let donor of donors; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/donor', donor.id, 'view']">{{ donor.id }}</a>
          </td>
          <td>{{ donor.name }}</td>
          <td>{{ donor.description }}</td>
          <td>{{ donor.url }}</td>
          <td>{{ donor.city }}</td>
          <td>{{ donor.donorCategory }}</td>
          <td>{{ donor.sector }}</td>
          <td>{{ donor.keyContact }}</td>
          <td>
            <div *ngIf="donor.country">
              <a [routerLink]="['/country', donor.country?.id, 'view']">{{ donor.country?.name }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/donor', donor.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/donor', donor.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(donor)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
